<!--
HTML <img> tag.  The arguments are:
  0 = CSS classes.
  1 = Image src URL.
  2 = Image width in pixels.
  3 = Image height in pixels.
  4 = Image alt tag.
  5 = Vertical alignment CSS.
-->
<img class="{0}" src="{1}" width="{2,number,#}" height="{3,number,#}" alt="{4}" style="vertical-align: {5}" />
